/**
 * @file
 * Table formatting for UWaterloo WiFi Charts.
 * The first column on the left is center-aligned,
 * while the others are right-aligned.
 */

table.uw_wifi_charts_table td:first-child {
  text-align: center;
}

table.uw_wifi_charts_table td {
  text-align: right;
}
